/* Import Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Protest+Riot&display=swap");

@import url('https://fonts.googleapis.com/css2?family=Inclusive+Sans:ital,wght@0,300..700;1,300..700&display=swap');

.logofont {
    color: #000;
    font-family: "Protest Riot", sans-serif;
    text-shadow: 0px 4px 8px rgba(255, 255, 255, 1);
}

.logofont:hover {
    color: rgb(53, 53, 53);
}

@layer components {
    .blackText {
        color: var(--color-black);
        text-shadow: 0px 4px 8px rgb(235, 205, 162);
        font-family: "Inclusive Sans", sans-serif;
        font-weight: 700;
    }

    .whiteText {
        color: #ffffff;
        font-family: "Inclusive Sans", sans-serif;
        text-shadow: 0px 4px 8px rgba(255, 255, 255, 1);
        font-weight: 700;
    }
}

progress {
    -webkit-appearance: none;
    appearance: none;
    color: black;
    height: 30px;
    border-radius: 10px;
}

progress::-webkit-progress-value {
    background-color: black;
    border-radius: 10px;
}

progress::-webkit-progress-bar {
    background-color: #cf9f60;
    /* beige background */
}

a {
    color: #000;
    text-decoration: none;
}

a:hover {
    color: #cf9f60;
    text-decoration: underline;
}