/* Import Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Protest+Riot&display=swap');
/* Apply the font to the body or specific elements */
.mainfont {
    font-family: 'Protest Riot', sans-serif;
}

progress {
    -webkit-appearance: none;
    appearance: none;
    color: black;
    height: 30px;
    border-radius: 10px;
}

progress::-webkit-progress-value {
    background-color: black;
    border-radius: 10px;
}

progress::-webkit-progress-bar {
background-color: #cf9f60; /* beige background */
}

a {
    color: #000;
    text-decoration: none;
}
a:hover {
    color: #cf9f60;
    text-decoration: underline;
}